header
{
    background-color: rgb(1, 205, 212);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
h1
{
    color: navy;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
main
{
    margin: 20px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}
p
{
    color: darkgray;
    line-height: 1.5;
}
section
{
    margin-top: 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
}
table
{
    width: 100%;
    border-radius: 20px;
    
}
section th{
    background-color: rgb(2, 29, 37);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

section td
{
    background-color: Cyan;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    
}
tr
{gap: 10px;
}
section table tfoot td
{
    font-weight: bold;
    background-color: lightgray;
    text-align: center;
}
legend
{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}