
body
{
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100% ;
    height: 100vh;
}
header
{
    background-color: #ffffff17;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 3px 3px 10px #ffffff6e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff8f;
}
.mainDescription
{
    font-size: 20px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    color: #0aa6acc4;
    text-align: center;
    margin-bottom: 20px;
}
table
{
    width: 100%;
    margin: 40px;

}
th
{
    border: 1px solid #ffffff3b;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}
#ID
{
    background-color: #ff2f01;

}
td
{
    border: 1px solid #ffffff3b;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    background-color: #ffffff1a;
    ;
}
.Total
{
    background-color: #06cf069f;
}
.TotalValue
{
    background-color: #06cf06;
    font-weight: bold;
    text-align: center;
}
table caption
{
    font-size: 30px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    color: #0aa6acc4;
    margin-bottom: 10px;
}