<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<connectionStrings>
		<add name="DBConnectionString" connectionString="Server=.;Database=master;User Id=sa;Password=sa123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="BackupRepository" value="C:\Users\jook\Desktop\Programing-Advice_Practicle-ProgrammingLearning\01_Back-end\Part-2-with_C#\Projects\06_BankSystem\BankSystem\DB_Backup\BankSystem.bak"/>
		<add key="LogFolder" value="C:\Users\jook\Desktop\Programing-Advice_Practicle-ProgrammingLearning\01_Back-end\Part-2-with_C#\Projects\06_BankSystem\BankSystem\DB_Backup\Logs"/>
		<add key="DBName" value="BankSystem"/>
		<add key="BackupScheduleMinutes" value="60"/>
	</appSettings>
</configuration>